<h1>New Tv Show</h1>

<%= form_with(model: @tv_show) do |form| %>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        
        <%= form.label :summary %><br>
        <%= form.text_area :summary %>

        <%= form.label :release_date %><br>
        <%= form.datetime_select :release_date %>
        
        <%= form.label :rating %><br>
        <%= form.text_field :rating %>

        <%= form.submit %>
<% end %>

<%= link_to 'Back', tv_shows_path %>
